<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aVeryBigSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>birthdayCakeCandles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>compareTheTriples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dialonalDifference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>miniMaxSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>plusMinus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>simpleArraySum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>solveMeFirst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>staircase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>timeConversion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB1B9EA81F68A4C7002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9EB11F68A4D3002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9EBA1F68A4E7002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9EC31F68A525002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9ECC1F68A533002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9ED51F68A53D002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9EDE1F68A54A002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9EE71F68A54F002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1B9EF01F68A55B002CE1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5A1C731F672C480007E6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
